<div class="clearfix">
  <div class="secondary">
    <div class="sideSearch">
      <h1 class="tit">Search Hotels</h1>
      <div class="cont clear">
        <p><label>Destination/Hotel Name</label><input type="text" class="sc_input" value="China,Beijing"></p>
        <p class="c_date"><label>Check-in Date</label><input type="text" class="sc_input sc_input_date"><span class="icon"></span></p>
        <p class="c_date"><label>Check-out Date</label><input type="text" class="sc_input sc_input_date"><span class="icon"></span></p>
        <p class="c_col">
        <span><label>Rooms</label>
          <select class="sc_select"><option>1</option><option>2</option></select></span>
        <span><label>Adults</label>
          <select class="sc_select"><option>1</option><option>2</option></select></span>
        <span><label>Children</label>
          <select class="sc_select"><option>1</option><option>2</option></select></span>
        </p>
        <div class="OB_clearB"></div>
        <p class="sc_p"><input type="button" class="btn_search" value=""></p>
      </div>
    </div>
    <p class="s_map"><a href="#"><img src="/assets/p_5.jpg"></a></p>
    <div class="s_filter">
      <h2>Refine Your Search</h2>
      <div class="cont clear">
        <div class="s_cont_col">
          <h3><s></s>Price <span>(pre night)</span></h3>
          <div class="s_col_db">
            <p><input type="checkbox" name="f_price" id="f_price_1"><label for="f_price_1">CNY 0 - CNY 489</label></p>
            <p><input type="checkbox" name="f_price" id="f_price_2"><label for="f_price_2">CNY 490 - CNY 859</label></p>
            <p><input type="checkbox" name="f_price" id="f_price_3"><label for="f_price_3">CNY 860 - CNY 1259</label></p>
            <p><input type="checkbox" name="f_price" id="f_price_4"><label for="f_price_4">CNY 1260 - CNY 1859</label></p>
            <p><input type="checkbox" name="f_price" id="f_price_5"><label for="f_price_5">CNY 1860 +</label></p>
          </div>
        </div>
        <div class="s_cont_col">
          <h3><s></s>Star Rating</h3>
          <div class="s_col_db s_col_db_star">
            <p><input type="checkbox" name="f_star" id="f_star_1"><label for="f_star_1"><span class="t_star t_star_1"></span></label></p>
            <p><input type="checkbox" name="f_star" id="f_star_2"><label for="f_star_2"><span class="t_star t_star_2"></span></label></p>
            <p><input type="checkbox" name="f_star" id="f_star_3"><label for="f_star_3"><span class="t_star t_star_3"></span></label></p>
            <p><input type="checkbox" name="f_star" id="f_star_4"><label for="f_star_4"><span class="t_star t_star_4"></span></label></p>
            <p><input type="checkbox" name="f_star" id="f_star_5"><label for="f_star_5"><span class="t_star t_star_5"></span></label></p>
          </div>
        </div>
        <div class="s_cont_col">
          <h3><s></s>Hotel Type</h3>
          <div class="s_col_db">
            <p><input type="checkbox" name="f_type" id="f_type_1"><label for="f_type_1">Apartment</label></p>
            <p><input type="checkbox" name="f_type" id="f_type_2"><label for="f_type_2">Hotel</label></p>
            <p><input type="checkbox" name="f_type" id="f_type_3"><label for="f_type_3">Hostel</label></p>
            <p><input type="checkbox" name="f_type" id="f_type_4"><label for="f_type_4">Guest House</label></p>
          </div>
        </div>
        <div class="s_cont_col last">
          <h3><s></s>Facility</h3>
          <div class="s_col_db">
            <p><input type="checkbox" name="f_facility" id="f_facility_1"><label for="f_facility_1">Parking</label></p>
            <p><input type="checkbox" name="f_facility" id="f_facility_2"><label for="f_facility_2">Spa</label></p>
            <p><input type="checkbox" name="f_facility" id="f_facility_3"><label for="f_facility_3">Airport Shuttle</label></p>
            <p><input type="checkbox" name="f_facility" id="f_facility_4"><label for="f_facility_4">Non-Smoking Rooms</label></p>
          </div>
        </div>

      </div>        
    </div>
  </div>

  <div class="primary">
    <h1 class="list_result"><%=@size %> <%=@city %> Hotels</h1>
    <div class="list_sort">
      <span class="first">Sort by:</span><a href="#" class="current">Recommended</a><a href="#">Stars</a><a href="#" class="current up">Distance</a><a href="#">Price</a><a href="#">Guest Rating</a>
    </div>

  <% @hotels.each do |hotel| %>
    <div class="list_col clear">
      <p class="list_hotel_img"><img src="http://media.expedia.com/<%=hotel['thumbNailUrl'] %>"></p>
      <div class="list_col_cont clear">
        <div class="left">
          <h1><%=hotel["name"] %><span class="t_star t_star_2">星级</span></h1>
          <p>247/ 1-8 Nuanai Road Patong Beach, Phuket, Thailand</p>
          <p class="list_txt"><a href="#">show map</a>Last booking:23 minutes ago</p>
          <p class="list_img">
            <img src="http://media.expedia.com/hotels/1000000/50000/43400/43312/43312_83_t.jpg" width="43">
            <img src="http://media.expedia.com/hotels/1000000/50000/43400/43312/43312_83_t.jpg" width="43">
            <img src="http://media.expedia.com/hotels/1000000/50000/43400/43312/43312_83_t.jpg" width="43">
            <img src="http://media.expedia.com/hotels/1000000/50000/43400/43312/43312_83_t.jpg" width="43">
          </p>
        </div>
        <div class="right">
          <p class="list_txt_price">form <span><em>CNY</em>4900</span></p>
          <p><a href="<%=hotel['deepLink'] %>" class="btnLinkBookNow">Book Now</a></p>
        </div>
        <div class="OB_clearB"></div>
        <div class="list_room_type">
          <table class="tb_room_type">
            <tr>
              <td class="td_fir"><a href="#" title="">Beijing Hotel</a></td>
              <td class="td_sec">Available</td>
              <td class="td_thi">CNY 99999</td>
            </tr>
            <tr>
              <td class="td_fir"><a href="#" title="">Beijing Hotel</a></td>
              <td class="td_sec">Available</td>
              <td class="td_thi">CNY 99999</td>
            </tr>
            <tr class="last">
              <td class="td_fir"><a href="#" title="">Beijing Hotel</a></td>
              <td class="td_sec">Available</td>
              <td class="td_thi">CNY 99999</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>



