<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Perooms" %></title>
<meta name="description" content="">
<meta name="author" content="">
<%= stylesheet_link_tag "application", :media => "all" %>
<%= csrf_meta_tags %>
<%= yield(:head) %>
</head>
<body>
<div class="headerBody clearfix">
	<div class="header clearfix">
		<a href="#"><img src="/assets/logo.png"></a>
	</div>
	<div class="currentBody clearfix">
		<div class="currentMain">
			<%= render 'layouts/navigation' %>
		</div>
	</div>
</div>


<div class="bodyCont clearfix">

	<%= yield %>
	
</div>


<div class="footer clearfix">
	<div class="footerBody">
        <dl>
            <dt>We guarantee the best price</dt>
            <dd>Easily find the best price and availabilty from all travel
    websites at once. We guarantee it.</dd>
        </dl>
        <dl>
            <dt>We tell the truth</dt>
            <dd>Our Verified Reviews™ analysis sources reviews from
    verified, paying guests only.</dd>
        </dl>
        <dl class="last">
            <dt>We cover the world</dt>
            <dd>Over 220 countries, 24 languages and 120 currencies.</dd>
        </dl>
        <div class="OB_clearB"></div>
        <p class="f_sitnav"><a href="#" target="_blank">Home</a><a href="#" target="_blank">Home</a><a href="#" target="_blank">Home</a><a href="#" target="_blank">Home</a></p>
        <p class="f_copy">2012 &copy; Hotels</p>
	</div>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>